API_SERVER_DOMAIN=localhost
API_SERVER_PORT=8000
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=master
POSTGRES_DB=nest_app_db

JWT_KEY=master_jwt_key
JWT_EXPIRES=3600